<div class="content-container flex detailed">
    <div class="content-bar an-margin">
            <button class="border-grey border-radius back-button" ng-click="$ctrl.goBack()">
                Back To Results
            </button>
        <div>
            <div class="flex">
                <div class="category-label">Name</div>
                <div>{{$ctrl.item.aka_name}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Address</div>
                <div>{{$ctrl.item.address}}</div>
            </div>
            <div class="flex">
                <div class="category-label">City</div>
                <div>{{$ctrl.item.city}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Facility Type</div>
                <div>{{$ctrl.item.facility_type}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Inspection Date</div>
                <div>{{$ctrl.item.inspection_date}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Inspection Id</div>
                <div>{{$ctrl.item.inspection_id}}</div>
            </div>
            <div class="flex">
                <div class="category-label">License</div>
                <div>{{$ctrl.item.license_}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Latitude</div>
                <div>{{$ctrl.item.latitude}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Longitude</div>
                <div>{{$ctrl.item.longitude}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Results</div>
                <div>{{$ctrl.item.results}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Risk</div>
                <div>{{$ctrl.item.risk}}</div>
            </div>
            <div class="flex">
                <div class="category-label">State</div>
                <div>{{$ctrl.item.state}}</div>
            </div>
            <div class="flex">
                    <div class="category-label">Zip</div>
                    <div>{{$ctrl.item.zip}}</div>
            </div>
            <div class="flex">
                <div class="category-label">Violations</div>
                <div class="border-grey border-radius an-padding violations">{{$ctrl.item.violations}}</div>
            </div>
        </div>
    </div>
</div>
