.search-term {
    width:420px;
    margin-right:1.25em;
    border-radius:5px;
    border:0.5px solid #898989;
    height:2.25em;
    padding-left: 1em;
}

.search-button {
    width:115px;
    border-radius:5px;
    border:0.5px solid #898989;
    font-size:0.6em;
}
